body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.HomePage {
  background: url(img/event.png) #b6d7ff;
  height: 900px;
  text-align: center;
  font-size: 55px;
}
.TextHomePage {
  font-size: 65px;
  font-weight: bold;
  /* color:#1A6B2D; */
  margin-top: 140px;
  -webkit-text-stroke: 3px #11491e;
  -webkit-text-fill-color: #ffffff;
}
.navbar-nav {
  display: inline;
  flex-flow: row;
  padding: 10px;
}

.NavHead {
  background: url(img/confetti.png) #b6d7ff;
  color: #28a745;
  height: 130px;
}
.navbarLogo {
  height: 120px;
}
.navLink {
  color: #28a745;
  font-size: 25px;
  margin-right: 18px;
  font-weight: bold;
}
.navLink:hover {
  color: #ffb907;
  font-size: 25px;
  text-decoration: none;
}

.btnLink {
  background-color: #28a745;
  color: aliceblue;
}
.dropdown-toggle {
  background-color: #28a745;
  color: aliceblue;
  font-size: 25px;
  margin-right: 18px;
  font-weight: bold;
}
.dropdown-toggle:hover {
  color: #ffb907;
  font-size: 25px;
  text-decoration: none;
}
.text-end {
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
  align-items: flex-end;
}
.EvLiIt-block {
  margin: 20px 0;
  display: block;
  width: 650px;
  border: 2px solid #608870;
}

.EvLiIt-title {
  background-color: blueviolet;
}
.EvDash {
  background-color: pink;
}
.EvDash2 {
  background-color: peru;
}
.EvLiIt-date {
  background-color: #3fa783;
  height: 50px;
}
.EvLiIt-text {
  background-color: #ecff5c;
  height: 100px;
}
.EvLiIt-buttonrow {
  background-color: #e2b7c1;
  height: 50px;
}
.EvLiIt-button {
  width: 100px;
  background-color: #65ffa3;
  height: 45px;
  float: right;
}

.RegForm {
  display: block;
  background-color: #fff;
  margin: 20px 0;
}
.EvLiAtt-avatar {
  width: 50px;
  float: left;
  margin-right: 15px;
  border-radius: 15%;
}

.UNUser {
  width: 40px;
  border-radius: 35%;
}
.Settings_block {
  display: block;
  border-top: 2px solid #c25d0b;
  border-bottom: 2px solid #c25d0b#c25d0b;
  margin: 10px;
  font-size: 20px;
}
.Settings_head {
  background-color: #b6d7ff;
  border-bottom: 2px solid #c25d0b;
  color: #28a745;
  font-weight: bold;
  padding: 10px;
}
.Settings_all {
  color: #c25d0b;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(209, 230, 255, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
}
