body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: url(img/smoke.png)  rgb(203, 211, 228); */
}

.HomePage {
    background: url(img/event.png);
    height: 900px;
    text-align: center;
    font-size: 55px;
}

.TextHomePage {
    font-size: 65px;
    font-weight: bold;
    /* color:#1A6B2D; */
    margin-top: 140px;
    -webkit-text-stroke: 3px #11491e;
    -webkit-text-fill-color: #ffffff;
}

.navbar-nav {
    display: inline;
    flex-flow: row;
    padding: 10px;
}

.NavHead {
    background: linear-gradient(325deg, rgba(60, 117, 78, 0.05) 0%, rgba(64, 120, 82, 0.05) 26%, rgba(74, 128, 92, 0.7) 77%, rgba(74, 128, 92, 1) 100%);
    /* background-o */
    /* opacity: 0.3; */
    color: #28a745;
    height: 130px;
}

.navbarLogo {
    height: 120px;
}

.navLink {
    color: #28a745;
    font-size: 25px;
    margin-right: 18px;
    font-weight: bold;
}

.navLink:hover {
    color: #ffb907;
    font-size: 25px;
    text-decoration: none;
}

.btnLink {
    background-color: #28a745;
    color: aliceblue;
}

.dropdown-toggle {
    background-color: #28a745;
    color: aliceblue;
    font-size: 25px;
    margin-right: 18px;
    font-weight: bold;
}

.dropdown-toggle:hover {
    color: #ffb907;
    font-size: 25px;
    text-decoration: none;
}

.text-end {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: flex-end;
}

.EvLiIt-block {
    margin: 20px 0;
    display: block;
    width: 650px;
    border: 2px solid #608870;
}

.EvLiIt-title {
    background-color: blueviolet;
}

.EvDash {
    background-color: pink;
}

.EvDash2 {
    background-color: peru;
}

.EvLiIt-date {
    background-color: #3fa783;
    height: 50px;
}

.EvLiIt-text {
    background-color: #ecff5c;
    height: 100px;
}

.EvLiIt-buttonrow {
    background-color: #e2b7c1;
    height: 50px;
}

.EvLiIt-button {
    width: 100px;
    background-color: #65ffa3;
    height: 45px;
    float: right;
}

.RegForm {
    display: block;
    background-color: #fff;
    margin: 20px 0;
}

.EvLiAtt-avatar {
    width: 50px;
    float: left;
    margin-right: 15px;
    border-radius: 15%;
}

.UNUser {
    width: 40px;
    border-radius: 35%;
}

.Settings_block {
    display: block;
    border-top: 2px solid #c25d0b;
    border-bottom: 2px solid #c25d0b#c25d0b;
    margin: 10px;
    font-size: 20px;
}

.Settings_head {
    background-color: #5D7A4D;
    border-bottom: 2px solid #c25d0b;
    color: #28a745;
    font-weight: bold;
    padding: 10px;
}

.Settings_all {
    color: #e7dcd3;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(54, 81, 17, 0.65) 0%, rgba(52, 78, 14, 0.65) 15%, rgba(44, 63, 4, 0) 77%, rgba(41, 58, 0, 0) 100%);
}

.Avatar {
    width: 50px;
    float: left;
    margin-right: 15px;
    border-radius: 15%;
    /* height: 50px; */
}

.EvDet-Header {
    margin-top: 25px;
    /* display: block; */
    /* background:linear-gradient(to bottom, rgba(54,81,17,0.65) 0%,rgba(52,78,14,0.65) 15%,rgba(44,63,4,0) 77%,rgba(41,58,0,0) 100%); */
    border-bottom: 1px solid #545556;
}

.EvDet-Header-img {
    width: 100%;
}

.EvDet-inform {
    font-size: 27px;
    font-weight: 700;
    margin: 0;
    padding-left: 20px;
}

.EvDet-title-small {
    font-size: 20px;
    float: left;
}

.EvDet-main {
    margin-top: 40px;
    background: linear-gradient(297deg, rgba(60, 117, 78, 0.05) 0%, rgba(74, 128, 92, 1) 100%);
    /* background: linear-gradient(135deg, rgba(54,81,17,0.65) 0%,rgba(52,78,14,0.65) 15%,rgba(44,63,4,0) 77%,rgba(41,58,0,0) 100%); */
}

.EvForm-lable {
    font-size: 28px;
    font-weight: 600;
}

.EvForm-field {
    width: 450px;
    font-size: 26px;
}

.selected-Ev {
    width: 450px;
}

.vse {
    width: 200px;
    font-size: 26px;
}

.EvForm-date {
    width: 450px;
    font-size: 26px;
}